@model Idafood.Models.Restaurant
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.name</h1>
    <div> the Id is @Model.id</div>
It working properly
</body>
</html>